@import './base.css';
@import "tailwindcss";

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}
